pandas==1.1.3
streamlit==1.17.0
matplotlib==3.3.2
requests==2.24.0
numpy==1.24.1
streamlit-option-menu==0.3.2
textblob==0.17.1
google-api-python-client==2.71.0
streamlit-player==0.1.5
wordcloud==1.8.2.2
altair==4.2.0
mysql==0.0.3
